$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "animate.scss";


body {
  padding: 0;
  background-size: cover;
  // overflow: hidden;
}

.opacity {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #e9eaed;
  opacity: 1;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.isInvalidField {
  border: 1px solid red !important;
}

a {
  margin: 0;
  padding: 0;
}

.navbar {
  background: #303F9F;
  // background: red;
  border: 0;
  border-radius: 0;
  color: #fff;
  height: 60px;
  

}

.navbar-left {
  
}

.face {
  width: 50px;
  margin-right: 10px;
}

.navbar-header {
  float: left;
  width: 50%;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.navbar-brand {
  margin-left: 0px !important;
  color: #fff;
  padding: 5px 10px;

  p {
    float: left;
    margin-top: 15px;
    color: #fff;
    font-size: 24px;
  }

  i {
    float: left;
    margin-top: 15px;
    color: #fff;
    margin-right: 20px;
  }
}

.navbar-right {
  margin-right: 15px;
  color: #fff;
  width: 50%;
  float: right !important;

  li {
    float: right;
  }

  li i {
    color: #fff;
    font-size: 22px;
    margin-top: 12px;
  }
}

.navbar-nav {
    margin: 0px;
    padding-top: 5px;
}

.floating_plus {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  background: #FFC107;
  color: #fff;
  border-radius: 40px;
  outline: none;

  i {
    text-align: center;
    margin-left: 12px;
    margin-top: 12px;
    font-size: 36px;
  }

}

.floating_plus:hover {
  background: darken(#FFC107,10%);
}

.floating_plus:active {
  background: darken(#FFC107,10%);
}

.floating_plus:focus {
  background: darken(#FFC107,10%);
}

.heading {
  
  .logo img {
    width: 200px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .brand img {
    width: 280px;
    margin-bottom: 30px;
  }

}

.form {
  max-width: 280px;
  margin-bottom: 30px;

  input {
    margin-bottom: 20px;
    height: 40px;
    font-size: 20px;
  }

  input[type=text] {
    border: 2px solid #444;
  }

  input[type=password] {
    border: 2px solid #444;
  }

}

.footer {

  .glyphicon-heart {
    color: red;
    text-align: center;
  } 

}


.nochats {
  h3 {
    position: absolute;
    left: 12%;
    top: 46%;
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    color: #ccc;
    text-align: center;
  }
}

.iva_full {
  max-height: 300px;
}

.btn-primary {
  height: 50px;
  font-size: 24px;
  color: #fff !important;
  background-color: #FFC107 !important;
  border: 1px solid darken(#FFC107, 15%) !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: darken(#FFC107,10%) !important;
  border: 1px solid darken(#FFC107, 15%) !important;
}

.btn-primary:active {
  color: #fff !important;
  background-color: darken(#FFC107,10%) !important;
  border: 1px solid darken(#FFC107, 15%) !important;
}

.btn-primary:focus {
  color: #fff !important;
  background-color: darken(#FFC107,10%) !important;
  border: 1px solid darken(#FFC107, 15%) !important;
}

.btn-lg {
  width: 300px;
  height: auto;
  font-size: 32px;
  font-weight: bold;
}

.btn-new-chat {
  margin-right: 15px;
}

h2 {
  font-family: "Helvetica Neue";
}

h4 {
  font-weight: normal;
  font-family: "helvetica neue";
}


.left {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 60px;
  bottom: 0px;
  border-right: 1px solid #ececec;
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;

  .user_list_item:hover {
    background-color: #E3F2FD; 
  }

  .user_list_item:active {
    background-color: #E3F2FD;
  }

  .user_list_item {
    border-bottom: 1px solid #ececec;
    height: 70px;
    width: 100%;
    outline: none;

    .category {
      width: 13%;
      height: 100%;
      background: tomato;

      p {
        font-size: 28px;
        color: #fff;
        margin-top: 16px;
        text-align: center;
        font-weight: 100;
      }
    }

    .f {
      background: #C62828;
    }

    .s {
      background: #EF6C00;
    }

    .b {
      background: #37474F;
    }

    .g {
      background: #2E7D32;
    }

    .h {
      background: #4527A0;
    }

    .m {
      background: #DA4A14;
    }

    .t {
      background: #1565C0;
    }

    .user_card {
      
      .profile_pic {
        img {
          width: 50px;
          margin-left: 5px;
          margin-right: 5px;
          margin-top: 10px;
        }
      }

      .user_details {
        .name {
          font-weight: bold;
          font-size: 15px;
          margin-top: 12px;
          margin-bottom: 5px;
        }

        .phone {
          margin-bottom: 0px;
          font-size: 14px;
          color: #777;
        }
      }

      .user_extra {
        .notifications {
          margin-top: 17px;
          font-size: 11px;
          background-color: #00ACF0;
          width: 18px;
          text-align: center;
          border: 1px solid #00ACF0;
          border-radius: 21px;
          color: #fff;
          margin-bottom: 5px;
          float: right;
          margin-right: 5px;
        }

        .timestamp {
          color: #00ACF0;
          text-align: center;
          font-size: 13px;
          float: right;
          width: 100%;
          margin-right: 5px;
          margin-top: 15px;
        }

        .timestamp_notification_exists {
          margin-right: -5px;
          margin-top: 0px;
        }
      }

    }

  }

  .user_list_item.active {
    background-color: #ececec;
  }

}


.middle {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 61px;
  overflow-y: scroll;

  a.glyphicon {
    outline: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    list-style: none;
  }

  .chat_bubble {
    overflow-wrap: break-word;
    margin-top: 10px;

    p {
      margin: 0;
      padding: 0;
    }

    .left_bubble {
      max-width: 350px;
      background: #00ACF0;
      color: #fff;
      font-size: 15px;
      float: left;
      padding: 7px;
      margin-left: 10px;
      border-radius: 10px;

      .time {
        font-size: 11px;
        color: #eaeaea;
        float: right;
      }

    }

    .right_bubble {
      max-width: 350px;
      background: #efefef;
      color: #454545;
      font-size: 15px;
      float: right;
      padding: 5px;
      margin-right: 10px;
      border-radius: 10px;

      .time {
        font-size: 11px;
        color: #676767;
        float: right;
      }

    }

    .image_card {

      img {
        max-width: 300px;
        max-height: 300px;
      }

      footer .pull-right {
        font-size: 11px;
        color: #676767;  
      }

    }
    
    .payment_card {

      .payment_left {
        float: left;
        width: 25%;
        background-color: #ececec;
        padding: 10px;
        position: relative;
        margin-right: 10px;
        height: 130px;

        img {
          max-width: 80%;
          position: absolute;
          top: 25%;
        }
      }

      .payment_right {
        width: 100%;

        .payment_card_header {
          width: 100%;
          height: 35px;

          .service_provider {
            float: left;
            font-size: 17px;
            color: #444;
          }

          .cost {
            float: right;
            font-size: 17px;
            color: #444;
          }
        }

        .payment_card_body {
          width: 100%;
          height: 65px;

          .description {
            font-size: 13px;
            min-width: 300px;
          }
        }

        .payment_action {
          position: relative;

          .cod {
            float: right;
            margin-top: 10px;
            font-weight: 500;
            position: absolute;
            right: 0;
          }

          .user_click_status {
            float: left;
            position: absolute;
            left:85px;
            margin-top: 10px;
            color: green;
          }

          .payment_url {
            float: right;
            margin-top: 10px;
            font-weight: 500;
            position: absolute;
            right: 0;
          }
        }


      }
    }

    .static_map_image {
      img {
        max-width: 285px;
      }
    }


  }
  
  form {
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    background: darken(#E3F2FD, 20%);
  }

  input[type=text] {
    width: 85%;
    height: 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    word-break: break-word;
  }

  .btn-send {
    width: 40px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    padding-right: 6px;
    background: darken(#08C, 20%);
  }

  .btn-send.disabled .btn-send[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
  }

  .btn-reassign {
    width: 40px;
    border-radius: 30px;
    border: 0;
    color: #fff;
    font-size: 22px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    padding-right: 6px;
    background: rgb(48, 160, 62);
  }

  .btn-reassign.disabled .btn-reassign[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
  }

  .btn-endorder {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
    font-size: 17px;
    text-align: center;
  }

  .thinking {
    width: 150px;
    height: 30px;
    font-size: 14px;
    background: #FFC107;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    margin-left: 10px;
    position: fixed;
    bottom: 65px;
    right: 5px;
  }

  .error {
    border: 1px solid red;
  }
}

.card_main {
  padding: 5px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 6px;

  .search_card {
    background-color: #fff;
    
    .heading {
      // color: #FFC107;
      color: #aaa;
      margin-bottom: 5px;
    }

    .flight_details {
      .flight_body {
        .flight_left {
          width: 20%;
          float: left;
        }
        .flight_middle {
          width: 55%;
          float: left;
          margin-top: -5px;

          .airport_code {
            float: left;
            width: 40%;
            font-size: 22px;
          }

          .airport_code_separator {
            float: left;
            font-size: 10px;
            margin-top: 24px;
            width: 10%;
          }
        }
        .flight_right {
          span.time {
            margin-right: 5px;
            margin-top: 4px;
            font-size: 13px;
            color: #222;
            font-weight: bold;
          }
        }
      }
      .flight_footer {
        .flight_left {
          float: left;
          width: 20%;

          .airline_code {
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            margin-left: 8px;
          }
        }
        
        .flight_middle {
          float: left;
          width: 55%;

          .currency {
            float: left;
            font-size: 12px;
            margin: 0;
            padding: 0;
            margin-top: 4px;
            margin-right: 4px;
            margin-left: 20px;
          }

          .price {
            float: left;
            font-size: 24px;
            margin: 0;
            padding: 0;
            margin-top: -5px;
            color: #303F9F;
          }
        }

        .flight_right {
          float: right;
          width: 25%;

          .date {
            font-size: 10px;
            margin-left: 4px;
          }

          .duration {
            font-size: 10px;
            margin-left: 3px;
          }
        }
      }

      .flight_action {
        margin-top: 35px;

        .flight_right {
          width: 100%;
        }

        .btn-paytm {
          height: 42px;
          font-size: 22px;
          width: 100%;
        }    
      }
    }

  }
}

.card_main:last-child {
  margin-bottom: 0px;
}

.card_wrapper {
  min-width: 290px;
}

hr {
  margin-top: 40px;
  border-top: 1px solid #ececec;
  margin-bottom: 8px
}

.ng-toast {
  color: #fff;
  bottom: 100px !important;
  top: auto !important;
}

.ng-toast {
  p {
    margin: 0;
  }

  .alert {
    padding: 5px;
  }
}

.view {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.view.ng-enter {
  animation: 0.5s appear;
}

.view.ng-leave {
  animation: 0.5s disappear;
}

@media (max-width: 500px) {
  .inputMessage {
    width: 80% !important;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .inputMessage {
    width: 85% !important;
  }
}

@media (min-width: 801px) {
  .inputMessage {
    width: 90% !important;
  }
}
